// hide root symbol definitions
body > svg:first-child { display: none; }

.icon {
	//float: left;
	
}

.icontooltip {
	float: left;
	height: 100%;

	svg {
		width: 1.3em;
		height: 1.3em;
		margin-top: -.15em;
		margin-bottom: -.15em;
		margin-right: .3em;
		fill: currentColor;
	}
}

#icon-logo {
}