.sidebar {
    height: 100%;
    width: 25%;
    
    background-color: $white2;
    overflow-y: scroll;
    position: relative;
    resize: horizontal;

    &:nth-of-type(1) {
        float: left;
        clear: right;
        //border-right: 2px solid $black;
    }
    &:nth-of-type(2) {
        display:none;

        float: right;
        border-left: $border solid $brown;
    }

    h2 {
        display: block;
        padding: $padding;
        background-color: $blue;
        font-size: 1.414em;
    }

    h3 {
        padding: ($padding / 2) $padding;
        //border-top: ($border / 2) solid $brown2;
        //border-bottom: ($border / 2) solid $tan3;
        margin-bottom: $padding;
        font-weight: bold;
        font-size: 1em;
        background-color: $blue2;

        .icon {
            font-size: .5em;
            margin-right: 1em;
        }

        &:hover {
            cursor: pointer;
            background-color: $blue2;
        }
    }

    // sidebar toggler
    .toggle-button {
        position: absolute;
        top: calc(#{$padding} + 1em);
        right: $padding;
        margin-top: -0.5em;
        background-color: transparent;
        border: 0;

        &:hover {
            svg {
                fill: $brown2;
            }
            cursor: pointer;
        }
    }

    &.collapsed {
        overflow: hidden;
        width: 3em;
        .toggle-button {
            display: block;
            right: $padding / 2;
            svg, use {
                display: block;
            }
        }

        *:not(.toggle-button) {
            display: none;
        }
    }
}
    .settings {
        margin-bottom: $padding;
        font-size: 80%;
        list-style: none;

        li {
            padding: 0 $padding;
        }

        label {
            display: inline-block;
            width: 70%;
        }
        input,
        select {
            margin: 0 0 2px;
            width: 30%;
            height: 2em;
            text-align: center;
            resize: none;
        }

        input[type="color"] {
            padding: 0;
        }
    }

        // font selectors
        .font-selector {
            position: relative;
            //padding: 0 $padding $padding;

            // font list
            ul {
                //display: none;
                position: absolute;
                //top: $padding;
                bottom: 0;
                left: $padding;
                right: $padding;
                z-index: 9001;
                //border: ($border / 3) solid $brown;
                //border-bottom-width: $border * 2;
                border-bottom: 2px solid $black;

                clip: rect(0, 1000px, 0px, 0);
                transition: clip 0.1s ease-out;

                &.visible {
                    display: block;
                    clip: rect(0, 1000px, 600px, 0);
                }
            }
                li {
                    padding: ($padding / 2) $padding;
                    background-color: $white;

                    &:hover {
                        background-color: $blue2;
                        cursor: pointer;
                    }
                }

            .font-settings-label {
                width: auto;
                height: 2em;
                margin-top: .5em;
            }
            .font-settings-group {
                display: inline-block;
                width: 50%;
                text-align: right;
            }
            .font-preview {
                padding: $padding;
                background-color: $white;

                clear: both;
                white-space: nowrap;
                overflow: hidden;
                position: relative;

                &:hover {
                    background-color: $blue2;
                    cursor: pointer;
                }

                &:after {
                    // triangle
                    content: ' ';
                    display: block;
                    position: absolute;
                    right: $padding;
                    top: 50%;
                    margin-top: (-$padding / 3);
                    width: 0;
                    height: 0;
                    border: ($padding / 1.5) solid transparent;
                    border-bottom-width: 0;
                    border-top-color: $brown;
                }
            }
            input[type="color"] {
                float: right;
                width: 30%;
            }
            input[type="checkbox"] {
                display: none;
            }
            input[type="checkbox"] + label {
                width: 2em;
                height: 2em;
                padding: .5em;
                float: right;

                &:hover {
                    background-color: $blue;
                    cursor: pointer;
                }
            }
            input[type="checkbox"]:checked + label {
                background-color: $blue;

                &:hover {
                    background-color: $blue2;
                }
            }
        }
            
