.sprouts-text {
    width: 100%;
    padding: $padding;
    border: 0;
    border-bottom: ($border / 2) solid $brown;
    background-color: $green;
    font-size: 105%;
    letter-spacing: 1px;
    
    &:focus {
        background-color: $white;
    }
    &:hover {
        background-color: $green2;
    }

    .node {
        font-weight: bold;
    }
    .head {
        color: $red;
    }
}

.sprouts-tree {
    padding: $padding;
}

svg.selected {
	> .sprouts__label {
		fill: $blue;
		stroke: $brown;
		stroke-width: 1px;
	}
}

.sprouts__label:hover,
.sprouts__head:hover {
	cursor: pointer;
	fill: $green;
	stroke: darken($green, 10%);
	stroke-width: 1px;
	text-shadow: 0 0 $padding $green;
}