.sprouts-text {
    width: 100%;
    padding: $padding;
    border: 0;
    border-bottom: ($border / 2) solid $brown;
    background-color: $green;
    font-size: 105%;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    
    &:focus {
        background-color: $white;
    }
    &:hover {
        background-color: $green2;
    }

    .node {
        font-weight: bold;
    }
    .head {
        color: $red;
    }
}

.sprouts-tree {
    padding: $padding * 2;
}

.sprouts-menu {
    //display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    ul {
        position: relative;

        li {
            position: absolute;
            top: 0;
            left: 0;
            width: 2em;
            height: 2em;
            text-align: center;
            overflow: hidden;
            background-color: $green;
            color: $brown;
            border-radius: 1em;
            border: ($border / 4) solid $brown;
            transform: rotate(0deg) translateY(0) rotate(0deg);

            &:hover {
                background-color: $green2;
                color: $brown2;
                cursor: pointer;
            }
        }
    }
            svg {
                width: 100%;
                height: 100%;
                padding: 0.25em;
                margin-top: 0.05em;
                fill: currentColor;
            }

    &.active {
        display: block;
        opacity: 1;

        li {
            // align buttons around a circle
            $rotation: 0;
            @for $i from 1 through 8 {
                &:nth-of-type(#{$i}) {
                    transform: rotate(#{$rotation}deg) translateY(-4em) rotate(-#{$rotation}deg);
                }
                $rotation: $rotation + (360/8);
            }
        }
    }
}

// inner SVG styles
svg.selected {
    > .sprouts__label {
        fill: $blue;
        stroke: $brown;
        stroke-width: 1px;
    }
}
svg.moving {
    > .sprouts__label {
        fill: $green;
        stroke: $brown;
        stroke-width: 1px;
        text-shadow: 0 0 $padding $red;
    }
}

.sprouts__label:hover,
.sprouts__head:hover {
    cursor: pointer;
    fill: $green;
    stroke: darken($green, 10%);
    stroke-width: 1px;
    text-shadow: 0 0 $padding $green;
}