$tan: #cfba95;
$white: #efe8dc;
$green: #83d935;
$blue: #bcd1ff;
$brown: #2e1a06;
$red: #9b1d00;

$white2: darken($white, 5%);
$green2: lighten($green, 10%);
$blue2: lighten($blue, 5%);
$tan2: lighten($tan, 5%);
$tan3: darken($tan, 10%);
$brown2: lighten($brown, 15%);
$red2: lighten($red, 15%);

$padding: 12px;
$border: $padding / 3;