@import "reset";
@import "variables";
@import "icons";
@import "animation";

html, body { height: 100%; overflow: hidden; }
body {
    background-color: $white;
    color: $brown;

    font-family: "Open Sans", Helvetica, Arial, sans-serif;

    box-sizing: border-box;
}

.header {
    height: 20%;
    border-top: ($border * 2) solid $brown;
    border-bottom: ($border * 2) solid $brown;
    padding: 1em;

    background-color: $blue;
}
    .logo {
        width: auto;
        height: 100%;
    }

.toolbar {
    border-bottom: ($border / 2) solid $brown;
    background-color: $tan;

    button {
        float: left;
        padding: $padding;
        border: 0;
        border-right: ($border / 2) solid $brown;

        background-color: $blue;
        &:hover {
            background-color: $blue2;
            cursor: pointer;
        }
    }

    // clearfix for floated buttons
    &:after {
        content: ' ';
        display: block;
        clear: both;
        width: 0;
        height: 0;
    }
}        

.main {
    height: 75%;
    overflow-y: auto;
}

.footer {
    clear: both;
    height: 5%;
    border-top: $border solid $brown;
    background-color: $blue;
    font-size: 80%;
    padding: $padding;

    ul {
        list-style: none;
    }
        li {
            display: inline;
            margin-right: $padding;
        }
}

// form styles
input, textarea, select {
    background-color: $white;
    border: ($border / 2) solid $tan;
}

// links
a {
    color: $red;

    &:hover {
        color: $red2;
    }
}

h1 { font-size: 2.827em; }
h2 { font-size: 1.999em; }
h3 { font-size: 1.414em; }
h4 { font-size: 1em; }

@import "sidebar";
@import "svg-ui";