@import "reset";

$tan: #cfba95;
$white: #efe8dc;
$green: #83d935;
$blue: #bcd1ff;
$brown: #2e1a06;
$red: #9b1d00;

html, body { height: 100%; }
body {
    background-color: $white;
    color: $brown;

    font-family: "Open Sans", Helvetica, Arial, sans-serif;

    box-sizing: border-box;
}

.header {
    height: 20%;
    border-top: 8px solid $brown;
    border-bottom: 8px solid $brown;
    padding: 1em;

    background-color: $blue;
}
    .logo {
        width: auto;
        height: 100%;
    }

.toolbar {
    height: 5%;
    border-bottom: 4px solid $brown;
    background-color: lighten($blue, 5%);

    .buttons, .button {
        height: 100%;
    }
    .button {
        border-left: 4px solid $brown;
        border-right: 4px solid $brown;
        padding: 0.25em 1em;

        &:first-child {
            border-left: 0;
        }

        &:hover {
            background-color: $red;
        }
    }
}

.sidebar {
    float: left;
    height: 70%;
    max-width: 25%;
    border-right: 4px solid $brown;
    background-color: $tan;
    overflow-y: auto;

    strong {
        display: block;
        padding: 1rem;
    }
}
    .settings {
        margin-bottom: 1rem;
        font-size: 80%;
        list-style: none;

        .heading {
            padding: 0.25rem 1rem;
            border-top: 2px solid $brown;
            border-bottom: 2px solid $brown;
            font-weight: bold;
            background-color: $blue;
            text-align: left;
        }

        > li {
            display: flex;
            justify-content: space-between;

            > label {
                // position: absolute;
                // top: 0.5em;
                // left: 0.5em;
                //min-width: 20%;
                padding: 0.5em;
                flex-grow: 1;
            }
        }
        input[type="text"],
        input[type="number"],
        input[type="color"],
        select {
            height: 2em;
            flex-grow: 2;
            text-align: right;
            //width: 40%;
        }

        .buttons {
            text-align: center;
            flex-grow: 1;
        }
    }
        

.main {
    height: 70%;
    overflow-y: auto;
}
    .sprouts-text {
        width: 100%;
        padding: .5em;

        border: 0;
        border-bottom: 2px solid $brown;
        background-color: $blue;

        &:focus {
            background-color: $white;
        }
    }
    .sprouts-tree {
        padding: 1em;
    }

.footer {
    clear: both;
    height: 5%;
    border-top: 4px solid $brown;
    background-color: $tan;
    font-size: 80%;
    padding: .25rem 1rem;
}

// form styles
input, textarea, select {
    background-color: $white;
    border: 2px solid $tan;
}

// links
a {
    color: $red;
}

// list of buttons
.buttons {
    list-style: none;

    li {
        display: inline-block;
    }
}
    .button {
        &:hover {
            cursor: pointer;
        }
    }

@import "svg-ui";